.dot {
  transform: translateX(calc(-50% + 2px));
  background-color: $blue-10;
  border-radius: 9999px;
  width: 14px;
  height: 14px;
  display: block;
  box-shadow: 0px 4px 68px 0px #9A6AFF;
  &--purple {
    width: 28px;
    height: 28px;
    background-color: $purple-10;
  }
}
