.audience {

  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-bottom: 116px;
  
  @include max-width(tablet) {
    gap: 40px;
    margin-bottom: 148px;
  }
  
  &__heading {
    display: none;
    @include max-width(tablet) {
      display: block;
    }
  }
  
  &__block {
    display: flex;
    gap: 160px;
    
    @include max-width(tablet) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__title {
    flex: 280px 0 0;
    line-height: normal;

    @include max-width(tablet) {
      flex: unset;
    }
  }

  &__text {
    max-width: 700px;
  }
}