section.about
  div.about__container.container
    p.about__info.text--muted
      | Федеральный центр финансовой поддержки производителей и предпринимателей
    h1.about__heading.heading.heading--section
      | Предоставляем возможности#[br]для развития вашего дела:
      span.about__heading-part 
        | банковские гарантии,#[br]гранты, субсидии,#[br]кредиты, лизинг,#[br]инвестиции
    button(type="button").about__cta.button.button--white 
      | Написать нам
      span.button__icon
        include /assets/svg/arrow_right_up.svg