section.audience.container
  //- div.audience__lighter.lighter
  h2.audience__heading.heading.heading--section Для кого
  div.audience__block
    h3.audience__title.heading.heading--3 Производителям
    ul.audience__list.text.text--20.text--muted 
      li.audience__item Финансирование на расширение производства, увеличение оборотных средств,
        | лизинг оборудования и прочие нужды без залога.
  div.audience__block
    h3.audience__title.heading.heading--3 Строителям
    ul.audience__list.text.text--20.text--muted 
      li.audience__item Контрактное финансирование, банковские гарантии для 44/223 ФЗ, пополнение оборотных средств, лизинг техники
      li.audience__item Оперативное рассмотрение заявки и предоставление денежных средств
  div.audience__block
    h3.audience__title.heading.heading--3 Экспортерам/Импортерам
    ul.audience__list.text.text--20.text--muted 
      li.audience__item Финансирование экспортных/импортных сделок
      li.audience__item Получение экспортных льгот
      li.audience__item Возврат средств затраченных на экспортные поставки
      li.audience__item Деньги на создание экспорта либо компенсация до 10% расходов
  div.audience__block
    h3.audience__title.heading.heading--3 Бизнесу
    ul.audience__list.text.text--20.text--muted 
      li.audience__item Привлечение финансирования под ваши актуальные задачи и потребности
      