section.contact.container#contact
  div.lighter.contact__lighter
  div.contact__content
    h2.contact__heading.heading.heading--section Связаться
    p.contact__text.text.text--20.text--muted
      | В нашей команде только опытные специалисты с высоким уровнем подготовки, 
      | которые помогут учесть самые сложные экономические, юридические, 
      | бухгалтерские нюансы и решить вашу задачу максимально выгодным для вас способом
  button(type="button" data-js="callback_popup_trigger").contact__cta.button.button--purple
    | Обратный звонок
    .button__icon
      include /assets/svg/arrow_right_up.svg