section.faq
  div.faq__decoration
    span.faq__dot.dot.dot--purple
  div.faq__container.container
    div.faq__inner-wrap
      h2.faq__heading.heading.heading--section Часто задаваемые#[br]вопросы
      div.faq__content
        - 
          const faq = [
            {
              title: "Зачем обращаться к вам?",
              text: "Наш опыт и экспертиза позволяют выгодно обыграть сильные стороны вашего бизнеса даже в сложной ситуации, а наши агентские договора с финансовыми учреждениями позволяют получать обратную связь и договариваться на персональные (индивидуальные) условия, согласованные индивидуально/персонально для Вашего бизнеса. рассматривая заявку у нас, вы получите подробную информацию по негативу, который может содержаться в банковской базе относительно вашей организации"
            },
            {
              title: "У меня бизнес, который открыт недавно, можно для него что-то получить?",
              text: "Да, есть финансовые продукты созданные специально под начинающий бизнес и мы знаем, как с ними правильно работать"
            },
            {
              title: "Какое участие моя компания будет принимать в процессе?",
              text: "Вашей задачей будет только передача нам документов, необходимых для формирования заявки."
            },
            {
              title: "Куда можно потратить деньги?",
              text: "Направления возможных затрат зависят от типа финансового продукта/программы. Мы подберём оптимальное решение для ваших бизнес-целей, чтобы вы могли решить поставленные задачи."
            },
            {
              title: "Как будет происходить взаимодействие?",
              text: "На протяжении всего периода подготовки и подачи заявки мы будем поддерживать с вами связь. Мы подбираем удобное для вас время собраний и не беспокоим беспредметно: только конкретные вопросы и предложения."
            },
            {
              title: "Как я могу убедиться в безопасности конфиденциальной информации и коммерческой?",
              text: "Мы подпишем с вами все необходимые документы, защищающие вашу информацию от разглашения. Все данные запрашиваются только при наличии существенных оснований и в интересах усиления преимуществ вашей заявки."
            }
          ]
        ul().faq__list
          each item in faq
            li.faq__item
              div.faq__top
                h3.faq__title.heading.heading--3= item.title
                div(data-js="faq_control").faq__icon
                  include /assets/svg/plus.svg
              div.faq__body
                p.faq__text.text.text--16= item.text