extends layouts/main.pug

block page_content
  include /pug/includes/about.pug
  include /pug/includes/audience.pug
  include /pug/includes/advantages.pug
  include /pug/includes/flow.pug
  include /pug/includes/rejection.pug
  include /pug/includes/contact.pug
    