extends layouts/main.pug

block page_content
  include /pug/includes/about.pug
  include /pug/includes/audience.pug
  include /pug/includes/advantages.pug
  include /pug/includes/flow.pug
  include /pug/includes/partners.pug
  include /pug/includes/faq.pug
  include /pug/includes/rejection.pug
  //- section(style="overflow: hidden;")
    div(style="position: relative;").container
      div.lighter.services__lighter
  include /pug/includes/services.pug
  include /pug/includes/contact.pug
    