footer.footer
  div.container.footer__top
    aside.footer__aside
      a(href="#").footer__logo
        include /assets/svg/logo.svg
      div.footer__messengers
        a(href="#").square-button
          include /assets/svg/telegram.svg
        a(href="#").square-button
          include /assets/svg/whatsapp.svg
        a(href="mailto:#").square-button
          include /assets/svg/envelope.svg
    div.footer__menues
      nav.footer__menu.footer-menu
        h6.footer-menu__title.text.text--16 О компании
        ul.footer-menu__list.text.text--14
          li.footer-menu__item 
            a(href="#about") О нас
          li.footer-menu__item 
            a(href="#flow") Этапы работы
          li.footer-menu__item 
            a(href="#services") Услуги
      nav.footer__menu.footer-menu
        h6.footer-menu__title.text.text--16 Дополнительная информация
        ul.footer-menu__list.text.text--14
          li.footer-menu__item 
            a(href="#") Партнёры
          li.footer-menu__item 
            a(href="#") Частые вопросы
      div.footer__menu.footer-menu
        h6.footer-menu__title.text.text--16 Связаться
        ul.footer-menu__list.text.text--14
          li.footer-menu__item
            a(href="tel:+74950000000") +7 (495) 000-00-00
          li.footer-menu__item
            a(href="mailto:info@mail.ru") info@mail.ru
  div.container.footer__bottom
    a(href="#").footer__policy.text.text--14 Политика конфиденциальности
    a(href="#").footer__agreement.text.text--14 Соглашение на обработку персональных данных
    p.footer__copyright.text.text--14.text--muted
      span Все права защищены
      span Финоград 2023
    