header.header
  div.header__container.container
    a(href="#").header__logo
      include /assets/svg/logo.svg
    nav.header__nav.text.text--muted.text--16
      a(href="#advantages").header__nav-link Преимущества
      a(href="#faq").header__nav-link Вопросы
      a(href="#services").header__nav-link Услуги
    a(href="tel:+78008142315").header__call
      | +7 (800) 814-23-15
      span.header__icon
        include /assets/svg/phone.svg