header.header
  div.header__container.container
    a(href="#").header__logo
      include /assets/svg/logo.svg
    nav.header__nav.text.text--muted.text--16
      a(href="#advantages").header__nav-link Преимущества
      a(href="#faq").header__nav-link Вопросы
      a(href="#contact").header__nav-link Нюансы
    button(type="button").header__cta.button.button--white
      | Обратный звонок
      span.button__icon
        include /assets/svg/arrow_right_up.svg